{
  "GITHUB_CLIENT_ID":"---clientid---",
  "GITHUB_CLIENT_SECRET":"---clientsecret----",
  "GITHUB_CALLBACK_URL":"http://127.0.0.1:8080/auth/github/callback",
  "AUTHORIZED_USER_EMAIL":"--email-address--users-github--account"
}
